<h4>Select Organization</h4>
<select id="selected_org" name="selected_org[]" class='border border-lightGray rounded h-8 w-full md:w-10/12 text-xs'>
    <% tenants.each do |tenant| %>
    <option value="<%= tenant[:id] %>">
        <%= tenant[:name] %>
    </option>
    <% end %>
</select>